body{
    background: #009FFF;
    background: -webkit-linear-gradient(to right, #ec2F4B, #009FFF);
    background: linear-gradient(to right, #ec2F4B, #009FFF);
}

.form-background {
    border-radius: 5px;
    background-color: black;
    width: 75%; 
    margin: 60px auto 40px auto;
    box-shadow: 0px 0px 35px #292A34;
}

h2{
    text-align: center;
    color: floralwhite;
    padding-top: 15px;
}

.form-foreground {
    border-radius: 0px 0px 5px 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.text-only-field{
    width: auto;
    margin-top: 15px;
}

.name-type{
    margin-left: 10px;
    padding-left: 10px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.name-like-field{
    width: auto;
    margin:6px 20px 0 20px;
}

.req-star {
    color: red;
}

input[type=text], input[type=email], input[type=password], input[type=number] {
    width: 90%;
    padding: 12px;
    resize: vertical;
    border: 0;
    outline: 0;
    background: whitesmoke;
    border-bottom: 2px solid black;
}

select{
    width: 94.4%;
    padding: 12px;
    resize: vertical;
    border: 0;
    outline: 0;
    background: whitesmoke;
    border-bottom: 2px solid black;
}

textarea{
    height:40px;
    width: 90%;
    padding: 12px;
    resize: vertical;
    border: 0;
    outline: 0;
    background: whitesmoke;
    border-bottom: 2px solid black;
}

p{
    margin-left: 10px;
    padding-left: 10px;
    padding-top:5px;
    font-weight: bold;
    padding-right: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: small;
}

.radio-btns{
    margin:0 0 10px 10px;
    padding-left: 10px;
}

button{
    background-color: #3644D2;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    padding:12px 21px;
    border: 3px solid blue;
    border-radius: 3px;
    width:100px;
    margin:0 50%;
    position:relative;
    left:-50px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button:hover{
    cursor: pointer;
    opacity: 0.8;
}