@model IEnumerable<StudentApp.ViewModels.StudentDepartment>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.ActionLink("Create New", "Create", new { controller = "Student" }, new { @class = "btn btn-success" })
</div>
<br />
<table id="students" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Date Of Birth</th>
            <th>Department</th>
            <th>Location</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#students").DataTable({
                ajax: {
                    url: "/api/student/",
                    type: 'GET',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    dataSrc: function (res ) {
                        console.log(res);
                        return res;
                    }
                },
                columns: [
                    {
                        data1: null,
                        render: function (data, type, full, meta) {
                            return full["firstName"] + " " + full["lastName"];;
                        }
                    },
                    { data: "email" },
                    {
                        data: "gender"
                    },
                    {
                        data: "birthDate",
                        render: function (data, type, full, meta) {
                            var dob = Date.parse(data);
                            var diff_ms = Date.now() - dob;
                            var age_dt = new Date(diff_ms);
                            return Math.abs(age_dt.getUTCFullYear() - 1970);
                        }
                    },
                    { data: "departmentName" },
                    { data: "location" },
                    {
                        data: "serialId",
                        render: function (data, type, full, meta) {
                            return "<button class='btn-link js-delete' data-student-id=" + data + ">Delete</button>" +
                                    "<button class='btn-link js-edit' data-student-id=" + data + ">Edit</button>" +
                                    "<button class='btn-link js-detail' data-student-id=" + data + ">Details</button>";
                        }      
                    }
                ]
            });

            $("#students").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Are you sure you want to delete?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/student/" + button.attr("data-student-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });

            $("#students").on("click", ".js-edit", function () {
                window.location.href = "/student/edit/" + $(this).attr("data-student-id");
            });

            $("#students").on("click", ".js-detail", function () {
                window.location.href = "/student/details/" + $(this).attr("data-student-id");
            });
        });
    </script>
}
