@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HomeIndex</title>
</head>
<body>
    <h1>Welcome to Students Portal</h1>
    @Html.ActionLink("View Students List", "Index", "Student")
</body>
</html>
